## Scanning Data

In [1]:
!pip install scanpy

Collecting scanpy
  Using cached scanpy-1.9.6-py3-none-any.whl.metadata (6.0 kB)
Collecting anndata>=0.7.4 (from scanpy)
  Downloading anndata-0.9.2-py3-none-any.whl.metadata (6.1 kB)
Collecting get-annotations (from scanpy)
  Downloading get_annotations-0.1.2-py3-none-any.whl (4.5 kB)
Collecting h5py>=3 (from scanpy)
  Downloading h5py-3.10.0-cp38-cp38-macosx_10_9_x86_64.whl.metadata (2.5 kB)
Collecting joblib (from scanpy)
  Using cached joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting matplotlib>=3.4 (from scanpy)
  Downloading matplotlib-3.7.4-cp38-cp38-macosx_10_12_x86_64.whl.metadata (5.7 kB)
Collecting natsort (from scanpy)
  Using cached natsort-8.4.0-py3-none-any.whl.metadata (21 kB)
Collecting networkx>=2.3 (from scanpy)
  Downloading networkx-3.1-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 14.0 MB/s eta 0:00:00a 0:00:01
Collecting numba>=0.41.0 (from scanpy)
  Downloading numba-0.58.1-cp38-cp38-macosx_10_9_x86_64.whl.metadata (2.7 kB)
Collecting numpy>=1.17.0 (from scanpy)
  Using cached numpy-1.24.4-cp38-cp38-macosx_10_9_x86_64.whl.metadata (5.6 kB)
Requirement already satisfied: packaging in /Users/thomasstack/opt/anaconda3/envs/single_cell/lib/python3.8/site-packages (from scanpy) (23.2)
Collecting pandas!=2.1.2,>=1.1.1 (from scanpy)
  Using cached pandas-2.0.3-cp38-cp38-macosx_10_9_x86_64.whl.metadata (18 kB)
Collecting patsy (from scanpy)
  Downloading patsy-0.5.4-py2.py3-none-any.whl.metadata (3.4 kB)
Collecting scikit-learn>=0.24 (from scanpy)
  Using cached scikit_learn-1.3.2-cp38-cp38-macosx_10_9_x86_64.whl.metadata (11 kB)
Collecting scipy>=1.4 (from scanpy)
  Using cached scipy-1.10.1-cp38-cp38-macosx_10_9_x86_64.whl (35.0 MB)
Collecting seaborn!=0.13.0 (from scanpy)
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 14.6 MB/s eta 0:00:00
Collecting session-info (from scanpy)
  Downloading session_info-1.0.0.tar.gz (24 kB)
  Preparing metadata (setup.py) ... done
Collecting statsmodels>=0.10.0rc2 (from scanpy)
  Downloading statsmodels-0.14.0-cp38-cp38-macosx_10_9_x86_64.whl (9.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.8/9.8 MB 17.1 MB/s eta 0:00:0000:0100:01
Collecting tqdm (from scanpy)
  Using cached tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
Collecting umap-learn>=0.3.10 (from scanpy)
  Downloading umap-learn-0.5.5.tar.gz (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.9/90.9 kB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting contourpy>=1.0.1 (from matplotlib>=3.4->scanpy)
  Downloading contourpy-1.1.1-cp38-cp38-macosx_10_9_x86_64.whl.metadata (5.9 kB)
Collecting cycler>=0.10 (from matplotlib>=3.4->scanpy)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib>=3.4->scanpy)
  Downloading fonttools-4.46.0-cp38-cp38-macosx_10_9_x86_64.whl.metadata (156 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 156.2/156.2 kB 15.3 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib>=3.4->scanpy)
  Downloading kiwisolver-1.4.5-cp38-cp38-macosx_10_9_x86_64.whl.metadata (6.4 kB)
Collecting pillow>=6.2.0 (from matplotlib>=3.4->scanpy)
  Downloading Pillow-10.1.0-cp38-cp38-macosx_10_10_x86_64.whl.metadata (9.5 kB)
Collecting pyparsing>=2.3.1 (from matplotlib>=3.4->scanpy)
  Downloading pyparsing-3.1.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/thomasstack/opt/anaconda3/envs/single_cell/lib/python3.8/site-packages (from matplotlib>=3.4->scanpy) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/thomasstack/opt/anaconda3/envs/single_cell/lib/python3.8/site-packages (from matplotlib>=3.4->scanpy) (6.1.1)
Collecting llvmlite<0.42,>=0.41.0dev0 (from numba>=0.41.0->scanpy)
  Downloading llvmlite-0.41.1-cp38-cp38-macosx_10_9_x86_64.whl.metadata (4.8 kB)
Requirement already satisfied: importlib-metadata in /Users/thomasstack/opt/anaconda3/envs/single_cell/lib/python3.8/site-packages (from numba>=0.41.0->scanpy) (7.0.0)
Requirement already satisfied: pytz>=2020.1 in /Users/thomasstack/opt/anaconda3/envs/single_cell/lib/python3.8/site-packages (from pandas!=2.1.2,>=1.1.1->scanpy) (2023.3.post1)
Collecting tzdata>=2022.1 (from pandas!=2.1.2,>=1.1.1->scanpy)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn>=0.24->scanpy)
  Using cached threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Requirement already satisfied: six in /Users/thomasstack/opt/anaconda3/envs/single_cell/lib/python3.8/site-packages (from patsy->scanpy) (1.16.0)
Collecting pynndescent>=0.5 (from umap-learn>=0.3.10->scanpy)
  Downloading pynndescent-0.5.11-py3-none-any.whl.metadata (6.8 kB)
Collecting stdlib_list (from session-info->scanpy)
  Downloading stdlib_list-0.10.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: zipp>=3.1.0 in /Users/thomasstack/opt/anaconda3/envs/single_cell/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib>=3.4->scanpy) (3.17.0)
Downloading scanpy-1.9.6-py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 12.1 MB/s eta 0:00:0000:0100:01
Downloading anndata-0.9.2-py3-none-any.whl (104 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 104.2/104.2 kB 3.2 MB/s eta 0:00:00
Downloading h5py-3.10.0-cp38-cp38-macosx_10_9_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 29.6 MB/s eta 0:00:0000:0100:01
Downloading matplotlib-3.7.4-cp38-cp38-macosx_10_12_x86_64.whl (7.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.4/7.4 MB 28.2 MB/s eta 0:00:0000:0100:01
Downloading numba-0.58.1-cp38-cp38-macosx_10_9_x86_64.whl (2.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 17.5 MB/s eta 0:00:00a 0:00:01
Using cached numpy-1.24.4-cp38-cp38-macosx_10_9_x86_64.whl (19.8 MB)
Using cached pandas-2.0.3-cp38-cp38-macosx_10_9_x86_64.whl (11.7 MB)
Using cached scikit_learn-1.3.2-cp38-cp38-macosx_10_9_x86_64.whl (10.1 MB)
Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Downloading patsy-0.5.4-py2.py3-none-any.whl (233 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.9/233.9 kB 5.5 MB/s eta 0:00:00ta 0:00:01
Downloading natsort-8.4.0-py3-none-any.whl (38 kB)
Using cached tqdm-4.66.1-py3-none-any.whl (78 kB)
Downloading contourpy-1.1.1-cp38-cp38-macosx_10_9_x86_64.whl (247 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.0/247.0 kB 18.7 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.46.0-cp38-cp38-macosx_10_9_x86_64.whl (2.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 36.0 MB/s eta 0:00:00a 0:00:01
Downloading kiwisolver-1.4.5-cp38-cp38-macosx_10_9_x86_64.whl (68 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.0/68.0 kB 2.5 MB/s eta 0:00:00
Downloading llvmlite-0.41.1-cp38-cp38-macosx_10_9_x86_64.whl (31.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.0/31.0 MB 22.3 MB/s eta 0:00:0000:0100:01
Downloading Pillow-10.1.0-cp38-cp38-macosx_10_10_x86_64.whl (3.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.5/3.5 MB 28.7 MB/s eta 0:00:0000:0100:01
Downloading pynndescent-0.5.11-py3-none-any.whl (55 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.8/55.8 kB 1.9 MB/s eta 0:00:00
Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.1/103.1 kB 6.5 MB/s eta 0:00:00
Using cached threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Downloading stdlib_list-0.10.0-py3-none-any.whl (79 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 5.3 MB/s eta 0:00:00
Building wheels for collected packages: umap-learn, session-info
  Building wheel for umap-learn (setup.py) ... done
  Created wheel for umap-learn: filename=umap_learn-0.5.5-py3-none-any.whl size=86832 sha256=d4e8ed0d768b343f6935b7cc556dfd33ffdab566acd979265dc0a79ec0e64ec1
  Stored in directory: /Users/thomasstack/Library/Caches/pip/wheels/c3/89/96/e196930bc91989b94db4815c8b2ad580f573c2bf31385d1302
  Building wheel for session-info (setup.py) ... done
  Created wheel for session-info: filename=session_info-1.0.0-py3-none-any.whl size=8026 sha256=d377116be0527da296a21c03386e9e1663483966489dbfb531b68cfad53f2268
  Stored in directory: /Users/thomasstack/Library/Caches/pip/wheels/5c/1b/4d/111d73980c5c6a8e5e5905a19eccc34296cb359cac54c6c5b9
Successfully built umap-learn session-info
Installing collected packages: tzdata, tqdm, threadpoolctl, stdlib_list, pyparsing, pillow, numpy, networkx, natsort, llvmlite, kiwisolver, joblib, get-annotations, fonttools, cycler, session-info, scipy, patsy, pandas, numba, h5py, contourpy, statsmodels, scikit-learn, matplotlib, anndata, seaborn, pynndescent, umap-learn, scanpy
Successfully installed anndata-0.9.2 contourpy-1.1.1 cycler-0.12.1 fonttools-4.46.0 get-annotations-0.1.2 h5py-3.10.0 joblib-1.3.2 kiwisolver-1.4.5 llvmlite-0.41.1 matplotlib-3.7.4 natsort-8.4.0 networkx-3.1 numba-0.58.1 numpy-1.24.4 pandas-2.0.3 patsy-0.5.4 pillow-10.1.0 pynndescent-0.5.11 pyparsing-3.1.1 scanpy-1.9.6 scikit-learn-1.3.2 scipy-1.10.1 seaborn-0.12.2 session-info-1.0.0 statsmodels-0.14.0 stdlib_list-0.10.0 threadpoolctl-3.2.0 tqdm-4.66.1 tzdata-2023.3 umap-learn-0.5.5

In [3]:
import scanpy as sc

In [4]:
# read in our data

adata = sc.read_csv("raw_counts/GSM5226574_C51ctr_raw_counts.csv").T
adata

AnnData object with n_obs × n_vars = 6099 × 34546

In [5]:
# 6099 cells, 34546 genes
# adata.obs, adata.var, adata.X
adata.X.shape

(6099, 34546)

## Doublet Removal

In [1]:
# optional, but preferrable - because sometimes two or more cells can end up in the same droplet.
# my system cannot process this step without a better gpu - so I skipped this process. 
# check https://youtube.com/watch?app=desktop&v=uvyG9yLuNSE for these steps

## Preprocessing

In [8]:
# first need to label mitochondrial genes

adata.var['mt'] = adata.var.index.str.startswith('MT-')
adata.var

               mt
AL627309.1  False
AL627309.5  False
AL627309.4  False
AL669831.2  False
LINC01409   False
...           ...
VN1R2       False
AL031676.1  False
SMIM34A     False
AL050402.1  False
AL445072.1  False

[34546 rows x 1 columns]

In [9]:
import pandas as pd

In [10]:
# using list of ribosomal genes from the broad institute

ribo_url = "http://software.broadinstitute.org/gsea/msigdb/download_geneset.jsp?geneSetName=KEGG_RIBOSOME&fileType=txt"

In [12]:
# 88 ribosomal genes

ribo_genes = pd.read_table(ribo_url, skiprows=2, header=None)
ribo_genes

             0
0          FAU
1       MRPL13
2        RPL10
3       RPL10A
4       RPL10L
..         ...
83        RPS9
84        RPSA
85     RSL24D1
86  RSL24D1P11
87       UBA52

[88 rows x 1 columns]

In [15]:
adata.var['ribo'] = adata.var_names.isin(ribo_genes[0].values)
adata.var

               mt   ribo
AL627309.1  False  False
AL627309.5  False  False
AL627309.4  False  False
AL669831.2  False  False
LINC01409   False  False
...           ...    ...
VN1R2       False  False
AL031676.1  False  False
SMIM34A     False  False
AL050402.1  False  False
AL445072.1  False  False

[34546 rows x 2 columns]

In [16]:
# calculate QC metrics

sc.pp.calculate_qc_metrics(adata, qc_vars=['mt', 'ribo'], percent_top=None, log1p=False, inplace=True)

In [20]:
# sort genes by number of cells they were found in

adata.var.sort_values('n_cells_by_counts')

,mt,ribo,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts
AL445072.1,False,False,0,0.000000,100.000000,0.0
AC073270.1,False,False,0,0.000000,100.000000,0.0
AC073349.5,False,False,0,0.000000,100.000000,0.0
AC005482.1,False,False,0,0.000000,100.000000,0.0
SPDYE8P,False,False,0,0.000000,100.000000,0.0
...,...,...,...,...,...,...
AKAP13,False,False,4458,3.054271,26.906050,18628.0
NEAT1,False,False,4546,5.314150,25.463191,32411.0
MBNL1,False,False,4554,2.877029,25.332022,17547.0
ZBTB20,False,False,4699,2.601082,22.954583,15864.0
MALAT1,False,False,6090,69.016563,0.147565,420932.0

In [23]:
# remove genes that were not found in at least 3 cells

sc.pp.filter_genes(adata, min_cells=3)
adata.var.sort_values('n_cells_by_counts')

,mt,ribo,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts,n_cells
AL929091.1,False,False,3,0.000492,99.950812,3.0,3
AC006441.3,False,False,3,0.000492,99.950812,3.0,3
AC022017.1,False,False,3,0.000492,99.950812,3.0,3
AC024597.1,False,False,3,0.000492,99.950812,3.0,3
PCARE,False,False,3,0.000492,99.950812,3.0,3
...,...,...,...,...,...,...,...
AKAP13,False,False,4458,3.054271,26.906050,18628.0,4458
NEAT1,False,False,4546,5.314150,25.463191,32411.0,4546
MBNL1,False,False,4554,2.877029,25.332022,17547.0,4554
ZBTB20,False,False,4699,2.601082,22.954583,15864.0,4699
MALAT1,False,False,6090,69.016563,0.147565,420932.0,6090

In [25]:
adata.obs.sort_values('total_counts')

,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt,total_counts_ribo,pct_counts_ribo
TGGTACAGTTGGTGTT-1_1,323,401.0,0.0,0.000000,0.0,0.000000
CTCAACCGTTTGGGAG-1_1,325,401.0,0.0,0.000000,0.0,0.000000
GTCGTTCTCCAAGGGA-1_1,300,401.0,0.0,0.000000,0.0,0.000000
CGAGAAGGTGAACTAA-1_1,308,401.0,0.0,0.000000,0.0,0.000000
CAGGGCTTCATGCGGC-1_1,330,401.0,7.0,1.745636,1.0,0.249377
...,...,...,...,...,...,...
AGGCCACAGAGTCACG-1_1,5544,13217.0,417.0,3.155028,82.0,0.620413
TTGGGTACACGACAAG-1_1,4900,15220.0,3.0,0.019711,5.0,0.032852
TAACTTCCAACCACGC-1_1,5158,15645.0,221.0,1.412592,211.0,1.348674
ATTCACTGTAACAGGC-1_1,6686,19020.0,404.0,2.124080,115.0,0.604627
TAGGTACCATGGCCAC-1_1,6764,24256.0,153.0,0.630772,55.0,0.226748